.app_teste {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffbdbd;
    width: 100%;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 25px;
    width: 45vw;
    height: 60vh;
}

.itens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 80%;
    height: 80%;
}


.Campo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    background-color: #FE367E;
    padding: 15px;
    border: 2px solid #000000;
    border-radius: 25px;
    width: 80%;
}

.Campo input {
    border: none;
    outline: none;
    background-color: transparent;
    color: #000000;
    font-size: 16px;
    width: 100%;
}

.botaoLogin {
    background-color: #00C2FF;
    border-radius: 25px;
    padding: 15px 30px 15px 30px;
    width: 45%;
}

.imagemUsuario {
    width: 30px;
    height: auto;
}

.iconeSenha {
    width: 30px;
    height: auto;
}